# JSON examples and exercises

****
+ get familiar with packages for dealing with JSON.

+ study examples with JSON strings and files.

+ work on exercise to be completed and submitted. 


+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [2]:
import pandas as pd

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
type(data)

list

In [6]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [7]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [8]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [9]:
# load as Pandas dataframe
json_df = pd.read_json('data/world_bank_projects_less.json')
json_df.shape

(2, 50)

In [10]:
json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
****

### Question 1: Find the top 10 countries with most projects.

In [11]:
# Read the json data file into pandas dataframe
json_df2 = pd.read_json('data/world_bank_projects.json')

In [12]:
# Look at the shape and the heading of the dataframe for the first five rows
print(json_df2.shape)
json_df2.head()

(500, 50)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [13]:
json_df2.head().T

,0,1,2,3,4
_id,{'$oid': '52b213b38594d8a2be17c780'},{'$oid': '52b213b38594d8a2be17c781'},{'$oid': '52b213b38594d8a2be17c782'},{'$oid': '52b213b38594d8a2be17c783'},{'$oid': '52b213b38594d8a2be17c784'}
approvalfy,1999,2015,2014,2014,2014
board_approval_month,November,November,November,October,October
boardapprovaldate,2013-11-12T00:00:00Z,2013-11-04T00:00:00Z,2013-11-01T00:00:00Z,2013-10-31T00:00:00Z,2013-10-31T00:00:00Z
borrower,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,GOVERNMENT OF TUNISIA,MINISTRY OF FINANCE AND ECONOMIC DEVEL,MIN. OF PLANNING AND INT'L COOPERATION,MINISTRY OF FINANCE
closingdate,2018-07-07T00:00:00Z,NaN,NaN,NaN,2019-04-30T00:00:00Z
country_namecode,Federal Democratic Republic of Ethiopia!$!ET,Republic of Tunisia!$!TN,Tuvalu!$!TV,Republic of Yemen!$!RY,Kingdom of Lesotho!$!LS
countrycode,ET,TN,TV,RY,LS
countryname,Federal Democratic Republic of Ethiopia,Republic of Tunisia,Tuvalu,Republic of Yemen,Kingdom of Lesotho
countryshortname,Ethiopia,Tunisia,Tuvalu,"Yemen, Republic of",Lesotho
docty,"Project Information Document,Indigenous People...","Project Information Document,Integrated Safegu...","Resettlement Plan,Environmental Assessment,Int...","Procurement Plan,Project Information Document,...","Project Information Document,Integrated Safegu..."
envassesmentcategorycode,C,C,B,C,B
grantamt,0,4700000,0,1500000,0
ibrdcommamt,0,0,0,0,0
id,P129828,P144674,P145310,P144665,P144933
idacommamt,130000000,0,6060000,0,13100000
impagency,MINISTRY OF EDUCATION,MINISTRY OF FINANCE,MINISTRY OF TRANSPORT AND COMMUNICATIONS,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,MINISTRY OF TRADE AND INDUSTRY
lendinginstr,Investment Project Financing,Specific Investment Loan,Investment Project Financing,Technical Assistance Loan,Investment Project Financing
lendinginstrtype,IN,IN,IN,IN,IN
lendprojectcost,550000000,5700000,6060000,1500000,15000000
majorsector_percent,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...","[{'Percent': 70, 'Name': 'Public Administratio...","[{'Percent': 100, 'Name': 'Transportation'}]","[{'Percent': 100, 'Name': 'Health and other so...","[{'Percent': 50, 'Name': 'Industry and trade'}..."
mjsector_namecode,"[{'code': 'EX', 'name': 'Education'}, {'code':...","[{'code': 'BX', 'name': 'Public Administration...","[{'code': 'TX', 'name': 'Transportation'}]","[{'code': 'JX', 'name': 'Health and other soci...","[{'code': 'YX', 'name': 'Industry and trade'},..."
mjtheme,[Human development],"[Economic management, Social protection and ri...","[Trade and integration, Public sector governan...","[Social dev/gender/inclusion, Social dev/gende...","[Trade and integration, Financial and private ..."
mjtheme_namecode,"[{'code': '8', 'name': 'Human development'}, {...","[{'code': '1', 'name': 'Economic management'},...","[{'code': '5', 'name': 'Trade and integration'...","[{'code': '7', 'name': 'Social dev/gender/incl...","[{'code': '5', 'name': 'Trade and integration'..."
mjthemecode,"8,11","1,6","5,2,11,6","7,7","5,4"
prodline,PE,RE,PE,RE,PE
prodlinetext,IBRD/IDA,Recipient Executed Activities,IBRD/IDA,Recipient Executed Activities,IBRD/IDA
productlinetype,L,L,L,L,L
project_abstract,{'cdata': 'The development objective of the Se...,NaN,NaN,NaN,{'cdata': 'The development objective of the Se...
project_name,Ethiopia General Education Quality Improvement...,TN: DTF Social Protection Reforms Support,Tuvalu Aviation Investment Project - Additiona...,Gov't and Civil Society Organization Partnership,Second Private Sector Competitiveness and Econ...
projectdocs,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...","[{'DocDate': '29-MAR-2013', 'EntityID': '00033...","[{'DocDate': '21-OCT-2013', 'EntityID': '00033...","[{'DocDate': '15-MAY-2013', 'EntityID': '00035...","[{'DocDate': '06-SEP-2013', 'EntityID': '09022..."
projectfinancialtype,IDA,OTHER,IDA,OTHER,IDA
projectstatusdisplay,Active,Active,Active,Active,Active
regionname,Africa,Middle East and North Africa,East Asia and Pacific,Middle East and North Africa,Africa
sector,"[{'Name': 'Primary education'}, {'Name': 'Seco...",[{'Name': 'Public administration- Other social...,[{'Name': 'Rural and Inter-Urban Roads and Hig...,[{'Name': 'Other social services'}],[{'Name': 'General industry and trade sector'}...
sector1,"{'Percent': 46, 'Name': 'Primary education'}","{'Percent': 70, 'Name': 'Public administration...","{'Percent': 100, 'Name': 'Rural and Inter-Urba...","{'Percent': 100, 'Name': 'Other social services'}","{'Percent': 50, 'Name': 'General industry and ..."
sector2,"{'Percent': 26, 'Name': 'Secondary education'}","{'Percent': 30, 'Name': 'General public admini...",NaN,NaN,"{'Percent': 40, 'Name': 'Other industry'}"
sector3,"{'Percent': 16, 'Name': 'Public administration...",NaN,NaN,NaN,"{'Percent': 10, 'Name': 'SME Finance'}"
sector4,"{'Percent': 12, 'Name': 'Tertiary education'}",NaN,NaN,NaN,NaN
sector_namecode,"[{'code': 'EP', 'name': 'Primary education'}, ...","[{'code': 'BS', 'name': 'Public administration...","[{'code': 'TI', 'name': 'Rural and Inter-Urban...","[{'code': 'JB', 'name': 'Other social services'}]","[{'code': 'YZ', 'name': 'General industry and ..."
sectorcode,"ET,BS,ES,EP","BZ,BS",TI,JB,"FH,YW,YZ"
source,IBRD,IBRD,IBRD,IBRD,IBRD
status,Active,Active,Active,Active,Active
supplementprojectflg,N,N,Y,N,N
theme1,"{'Percent': 100, 'Name': 'Education for all'}","{'Percent': 30, 'Name': 'Other economic manage...","{'Percent': 46, 'Name': 'Regional integration'}","{'Percent': 50, 'Name': 'Participation and civ...","{'Percent': 30, 'Name': 'Export development an..."
theme_namecode,"[{'code': '65', 'name': 'Education for all'}]","[{'code': '24', 'name': 'Other economic manage...","[{'code': '47', 'name': 'Regional integration'...","[{'code': '57', 'name': 'Participation and civ...","[{'code': '45', 'name': 'Export development an..."
themecode,65,"54,24","52,81,25,47","59,57","41,45"
totalamt,130000000,0,6060000,0,13100000
totalcommamt,130000000,4700000,6060000,1500000,13100000
url,http://www.worldbank.org/projects/P129828/ethi...,http://www.worldbank.org/projects/P144674?lang=en,http://www.worldbank.org/projects/P145310?lang=en,http://www.worldbank.org/projects/P144665?lang=en,http://www.worldbank.org/projects/P144933/seco...

In [14]:
#Create a dataframe only with the names of the country and names of the projects
projects = json_df2[['countryname', 'project_name']]

In [15]:
projects.head()

,countryname,project_name
0,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
1,Republic of Tunisia,TN: DTF Social Protection Reforms Support
2,Tuvalu,Tuvalu Aviation Investment Project - Additiona...
3,Republic of Yemen,Gov't and Civil Society Organization Partnership
4,Kingdom of Lesotho,Second Private Sector Competitiveness and Econ...

In [16]:
#check that every row gives a unique project name
projects['project_name'].is_unique

True

In [17]:
#Agrregate by project names for each country by 'count' argument
projects_count = projects.groupby('countryname').agg(['count'])
print(projects_count.shape)
projects_count.head()

(118, 1)

                       project_name
                              count
countryname
Africa                           11
Antigua and Barbuda               1
Arab Republic of Egypt            2
Argentine Republic                2
Bosnia and Herzegovina            1

In [18]:
# Creates an extra row with the heading for 'project_name'. Remove it by dropping the first row
projects_count.columns = projects_count.columns.droplevel(0)

In [19]:
projects_count.sort_values('count', ascending = False).head(10)

                                 count
countryname
People's Republic of China          19
Republic of Indonesia               19
Socialist Republic of Vietnam       17
Republic of India                   16
Republic of Yemen                   13
People's Republic of Bangladesh     12
Nepal                               12
Kingdom of Morocco                  12
Republic of Mozambique              11
Africa                              11

### Question 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

In [20]:
#Load the JSON file as JSON string
json_string = json.load((open('data/world_bank_projects.json')))
#json_string

In [21]:
#Normalize the JSON string to convert it into a flat table in the format of pandas dataframe. 
project_theme = json_normalize(json_string, 'mjtheme_namecode')

In [22]:
project_theme.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [23]:
type(project_theme)

pandas.core.frame.DataFrame

In [24]:
#Aggregate by project theme counts
project_theme_count = project_theme.groupby('name').agg(['count'])

In [25]:
project_theme_count.head()

                                              code
                                             count
name
                                               122
Economic management                             33
Environment and natural resources management   223
Financial and private sector development       130
Human development                              197

In [26]:
#Drop the first row of the dataframe, 'project_theme_count' that is created as empty row 
project_theme_count.columns = project_theme_count.columns.droplevel(0)

In [27]:
project_theme_count.head()

                                              count
name
                                                122
Economic management                              33
Environment and natural resources management    223
Financial and private sector development        130
Human development                               197

In [28]:
#Sort the dataframe in ascending order to give the top ten project themes
project_theme_count.sort_values('count', ascending = False).head(10)

                                              count
name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47

### Question 3: In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

Use the dataframe, 'project_theme' created in Q2 above

In [29]:
project_theme.head(20)

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7

In [30]:
#Check if in the dataframe every code is unique
project_theme['code'].is_unique

False

In [31]:
project_theme['code'].nunique()

11

In [32]:
project_theme.groupby('code').nunique()

      code  name
code
1        1     2
10       1     2
11       1     2
2        1     2
3        1     2
4        1     2
5        1     2
6        1     2
7        1     2
8        1     2
9        1     2

Every code has two values attached to them

In [33]:
#Test for two codes- if each code has two values, one is missing value and the other is the actual project theme name.
project_theme.groupby('code').get_group('10')

     code               name
18     10  Rural development
23     10  Rural development
25     10  Rural development
32     10  Rural development
36     10  Rural development
39     10  Rural development
59     10  Rural development
60     10  Rural development
61     10  Rural development
74     10  Rural development
75     10  Rural development
95     10  Rural development
97     10  Rural development
121    10
123    10  Rural development
142    10  Rural development
158    10  Rural development
159    10  Rural development
165    10
168    10  Rural development
169    10  Rural development
181    10  Rural development
195    10  Rural development
217    10
255    10  Rural development
256    10  Rural development
257    10  Rural development
258    10  Rural development
259    10  Rural development
261    10  Rural development
...   ...                ...
1333   10  Rural development
1335   10  Rural development
1336   10  Rural development
1344   10  Rural development
1352   10  Rural development
1364   10  Rural development
1369   10  Rural development
1373   10  Rural development
1374   10  Rural development
1383   10  Rural development
1386   10  Rural development
1393   10  Rural development
1399   10  Rural development
1400   10  Rural development
1416   10  Rural development
1417   10  Rural development
1429   10  Rural development
1432   10  Rural development
1444   10  Rural development
1447   10  Rural development
1450   10  Rural development
1452   10  Rural development
1455   10  Rural development
1463   10  Rural development
1464   10  Rural development
1476   10  Rural development
1490   10  Rural development
1492   10  Rural development
1493   10  Rural development
1494   10  Rural development

[216 rows x 2 columns]

In [34]:
project_theme.groupby('code').get_group('9')

     code               name
53      9  Urban development
183     9  Urban development
194     9  Urban development
200     9  Urban development
318     9  Urban development
320     9  Urban development
333     9
341     9  Urban development
354     9  Urban development
356     9  Urban development
369     9  Urban development
414     9  Urban development
447     9  Urban development
460     9
471     9
512     9  Urban development
513     9  Urban development
535     9  Urban development
570     9  Urban development
585     9  Urban development
597     9  Urban development
598     9  Urban development
650     9  Urban development
669     9  Urban development
732     9  Urban development
737     9  Urban development
738     9  Urban development
739     9  Urban development
742     9  Urban development
822     9  Urban development
917     9  Urban development
930     9  Urban development
940     9  Urban development
962     9  Urban development
1095    9  Urban development
1102    9  Urban development
1103    9  Urban development
1104    9  Urban development
1166    9  Urban development
1290    9  Urban development
1303    9  Urban development
1318    9  Urban development
1342    9  Urban development
1347    9  Urban development
1425    9  Urban development
1426    9  Urban development
1428    9  Urban development
1470    9  Urban development
1473    9  Urban development
1495    9  Urban development

In [35]:
project_theme.groupby(['code', 'name'])['name'].count()

code  name
1                                                       5
      Economic management                              33
10                                                     14
      Rural development                               202
11                                                     27
      Environment and natural resources management    223
2                                                      15
      Public sector governance                        184
3                                                       3
      Rule of law                                      12
4                                                      16
      Financial and private sector development        130
5                                                       5
      Trade and integration                            72
6                                                      10
      Social protection and risk management           158
7                                                      11
      Social dev/gender/inclusion                     119
8                                                      13
      Human development                               197
9                                                       3
      Urban development                                47
Name: name, dtype: int64

In [36]:
# Create a dictionary to map the codes with their corresponding project theme names 

code_dict = {'1': 'Economic management', '2': 'Public sector governance', '3':'Rule of law', '4': 'Financial and private sector development', '5': 'Trade and integration' , '6':'Social protection and risk management' ,'7': 'Social dev/gender/inclusion', '8': 'Human development' , '9': 'Urban development', '10': 'Rural development', '11': 'Environment and natural resources management' }

In [37]:
code_dict

{'1': 'Economic management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development',
 '10': 'Rural development',
 '11': 'Environment and natural resources management'}

In [38]:
project_theme.head(10)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [39]:
#The original dataframe is json_df2. We need to replace the missing project theme names in json_df2. 
# Look at row# 30 of json_df2

print(json_df2.mjtheme_namecode[30])

[{'code': '8', 'name': 'Human development'}, {'code': '4', 'name': ''}]

In [41]:
data = pd.read_json()

ValueError: Invalid file path or buffer object type: <class 'NoneType'>